doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    include common/header   
  body
    #wrapper
      include common/navheader   
      include common/navigation   
      #page-wrapper
        #page-inner
          block content
      // /. PAGE WRAPPER
    // /. WRAPPER
    include common/bodyfooter   
  // /. BODY
include common/footer   

