// SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME
// JQUERY SCRIPTS
script(src='/_res/js/jquery-1.10.2.js')
// BOOTSTRAP SCRIPTS
script(src='/_res/js/bootstrap.min.js')
// METISMENU SCRIPTS
script(src='/_res/js/jquery.metisMenu.js')
// MORRIS CHART SCRIPTS
script(src='/_res/js/morris/raphael-2.1.0.min.js')
script(src='/_res/js/morris/morris.js')
// NOTIFY SCRIPTS
script(src='/_res/js/notify/notify.js')

// CUSTOM SCRIPTS
script(src='/_res/js/custom.js')
