meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title #{siteTitle}
// LIB STYLES
link(href='/_deploy/css/lib.min.css', rel='stylesheet')
// CUSTOM STYLES
link(href='/_deploy/css/nodetest1.min.css', rel='stylesheet')
// GOOGLE FONTS
link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')