// /. NAV TOP
nav.navbar-default.navbar-side(role='navigation')
  .sidebar-collapse
    ul#main-menu.nav
      li.text-center
        img.user-image.img-responsive(src='/_res/img/find_user.png')
      li
        a.active-menu(href='index')
          i.fa.fa-dashboard.fa-3x
          |  Dashboard
      li
        a(href='ui')
          i.fa.fa-desktop.fa-3x
          |  UI Elements
      li
        a(href='tab-panel.html')
          i.fa.fa-qrcode.fa-3x
          |  Tabs & Panels
      li
        a(href='chart.html')
          i.fa.fa-bar-chart-o.fa-3x
          |  Morris Charts
      li
        a(href='table.html')
          i.fa.fa-table.fa-3x
          |  Table Examples
      li
        a(href='form.html')
          i.fa.fa-edit.fa-3x
          |  Forms
      li
        a(href='#')
          i.fa.fa-sitemap.fa-3x
          |  Multi-Level Dropdown
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#') Second Level Link
          li
            a(href='#') Second Level Link
          li
            a(href='#')
              | Second Level Link
            span.fa.arrow
            ul.nav.nav-third-level
              li
                a(href='#') Third Level Link
              li
                a(href='#') Third Level Link
              li
                a(href='#') Third Level Link
      li
        a(href='blank.html')
          i.fa.fa-square-o.fa-3x
          |  Blank Page
// /. NAV SIDE
