// /. NAV TOP
nav.navbar-default.navbar-side(role='navigation')
  .sidebar-collapse
    ul#main-menu.nav
      li.text-center
        img.user-image.img-responsive(src='/_res/img/find_user.png')
      li
        a.active-menu(href='index')
          i.fa.fa-dashboard.fa-3x
          |  Start
// /. NAV SIDE
